@model IEnumerable<DrDr>

<div class="dr-items">
    @foreach (var line in Model.Select((item, idx) => new { Index = idx, Item = item }))
    {
        <div class="dr-item @( line.Index % 2 == 1 ? "alternate" : "" )">
            <div class="row">
                <div class="col-md-1 drnum">
                    <span class="lower-emphasis">DR&nbsp;#</span><a asp-action="ViewDr" asp-route-id="@line.Item.Id">@line.Item.ProjDr</a>
                </div>
                <div class="col-md-9 description">@line.Item.Descr1.TrimEnd().ToMultiLineHtml()</div>
            </div>

            <div class="row">
                <div class="col-md-1 overflow-ellipsis status">
                    @line.Item.DrHistory.Last().StatusNavigation.Status.TrimEnd()
                    <a data-toggle="tooltip" title="Priority @line.Item.Priority.TrimEnd()"><span class="priority-@line.Item.Priority.TrimEnd()" /></a>
                </div>
                <div class="col-md-2 overflow-ellipsis dr-project">
                    <a data-toggle="tooltip" title="@line.Item.ProjectNavigation.Nn.TrimEnd() - @line.Item.ProjectNavigation.AcName.TrimEnd()">
                        @line.Item.ProjectNavigation.Nn.TrimEnd() - @line.Item.ProjectNavigation.AcName.TrimEnd()
                    </a>
                </div>
                <div class="col-md-2 overflow-ellipsis ata">
                    <a data-toggle="tooltip" title="@line.Item.AtaNavigation.Descr.TrimEnd()">@line.Item.AtaNavigation.Descr.TrimEnd()</a>
                </div>
                <div class="col-md-2 overflow-ellipsis assigned-to">
                    <span class="lower-emphasis">Assigned to</span>
                    <a data-toggle="tooltip" title="@line.Item.DrHistory.OrderBy(w => w.HistNum).Last().AssignedNavigation.Fname.TrimEnd() @line.Item.DrHistory.OrderBy(w => w.HistNum).Last().AssignedNavigation.Lname.TrimEnd()">
                        @line.Item.DrHistory.OrderBy(w => w.HistNum).Last().AssignedNavigation.Username.TrimEnd()
                    </a>
                </div>
                <div class="col-md-2 date-field"><span class="lower-emphasis">Updated on</span> @line.Item.DrHistory.OrderBy(w => w.HistNum).Last().Date.Value.ToString("yyyy-MM-dd")</div>
                @if (line.Item.DueDate.HasValue)
                {
                    <div class="col-md-2 date-field"><span class="lower-emphasis">Due on</span> @line.Item.DueDate.Value.ToString("yyyy-MM-dd")</div>
                }
                else
                {
                    <div class="col-md-2 date-field"><span class="lower-emphasis">No due date</span></div>
                }
            </div>
        </div>
    }
</div>