@model SearchOptionsPaneModelView

<div class="col-md-@Model.Width">
    <h2>@Model.PaneName:</h2>
    @if (Model.Values?.Any() == true)
    {
        foreach (var pair in Model.Values)
        {
            <div class="selected-item">
                <form asp-action="@Model.RemoveAction" method="post">
                    <input type="hidden" value="@pair.Item1" name="id" />
                    <input type="submit" value="remove" />
                </form>
                @pair.Item2
            </div>
        }
        <div class="selected-item extra"><a href="#" onclick="return @Model.ClearFunction ()">Clear filter</a></div>
        <div class="selected-item extra"><a href="#" onclick="return @Model.AddFunction ()">@Model.AddName</a></div>
    }
    else
    {
        <div class="selected-item none">@Model.NoFilterName</div>
        <div class="selected-item extra"><a href="#" onclick="return @Model.AddFunction ()">Start filtering</a></div>
    }
</div>